{% extends 'base/base.html' %}
{% block content %}
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ea exercitationem iste, labore nisi repellendus
    velit! Accusamus ea et excepturi illum ipsa molestias, neque non possimus praesentium, provident recusandae,
    suscipit.
</p>
<ul>
    {% for post in posts %}
    <li>
        <h2>{{post.title}}</h2>
        <p><a href="{{ post.get_absolute_url }}">{{post.content}}</a></p>
        <hr>
    </li>
    {% endfor %}
</ul>

<script type="text/javascript">

</script>
{% endblock %}
